<!DOCTYPE html>
<html>
<title>API 文档</title>

<style type="text/css">
    h3 span.http_method {
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        display: inline-block;
        width: 70px;
        font-size: 0.7em;
        text-align: center;
        padding: 7px 0 4px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        -o-border-radius: 2px;
        -ms-border-radius: 2px;
        -khtml-border-radius: 2px;
        border-radius: 2px;
    }


</style>

<xmp theme="united" style="display:none;">
{{>markdown}}
</xmp>

<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
</html>